{
    "extends": ["@gravity-ui/eslint-config", "@gravity-ui/eslint-config/prettier"],
    "env": {
        "node": true,
        "jest": true
    },
    "root": true,
    "overrides": [
        {
            "files": ["*.ts"],
            "rules": {
                "@typescript-eslint/member-ordering": [0],
                "import/order": [0],
                "sort-imports": [0]
            }
        }
    ]
}
