name: Auto Merge Release PR

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    if: |
      github.event.pull_request.user.login == 'robot-charts' &&
      startsWith(github.event.pull_request.head.ref, 'release-')

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Auto merge PR
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          gh pr merge ${{ github.event.pull_request.number }} --admin --squash
