on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

name: Docker Build Test

jobs:
  build:
    name: datalens-us
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: 'arm64'
          # fix QEMU build for arm64
          # https://github.com/docker/setup-qemu-action/issues/198
          image:  tonistiigi/binfmt:qemu-v9.2.2-52
      - uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v5.0.0
        with:
          build-args: |
            app_version=0.0.0
          context: .
          push: false
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
