on:
  workflow_dispatch:
  workflow_run:
    workflows:
      - 'Publish Platform'
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

name: Build Application Docker

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    name: datalens-us
    runs-on: ubuntu-24.04
    if: ${{ github.event.workflow_run.conclusion == '' || github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Download Artifacts
        uses: dawidd6/action-download-artifact@v6
        if: ${{ github.event.workflow_run.id != '' }}
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          run_id: ${{ github.event.workflow_run.id }}
      - name: Extract commit ref from workflow
        run: |
          RELEASE_TAG=$(cat workflow_ref/release_tag)
          BUILD_VERSION=${RELEASE_TAG#v}
          echo "COMMIT_REF=$(cat workflow_ref/ref || echo '${{ github.ref }}')" >> "$GITHUB_ENV"
          echo "RELEASE_TAG=$RELEASE_TAG" >> "$GITHUB_ENV"
          echo "BUILD_VERSION=$BUILD_VERSION" >> "$GITHUB_ENV"
      - uses: actions/checkout@v4
        with:
          ref: ${{ env.RELEASE_TAG || env.COMMIT_REF }}
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: 'arm64'
          # fix QEMU build for arm64
          # https://github.com/docker/setup-qemu-action/issues/198
          image: tonistiigi/binfmt:qemu-v9.2.2-52
      - uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3.0.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract tags for Docker
        id: meta
        uses: docker/metadata-action@v5.0.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=${{ env.BUILD_VERSION }}
            type=raw,value=${{ env.RELEASE_TAG }}
            ${{ endsWith(env.RELEASE_TAG, '.0') && 'type=raw,value=latest' || '' }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5.0.0
        with:
          build-args: |
            app_version=${{ env.BUILD_VERSION }}
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
